# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Ignore Kotlin plugin data
.kotlin

# Ignore test output directories
**/test/
**/bin/
bin/
test/

.vscode/
.idea/
*.iml
*.log
*.tmp
*.bak
*.swp
.DS_Store

*token*

